{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'what-we-do',
    'container',
    'col-sm-8 offset-md-2',
  ]
%}
{%
    set contentClasses = [
        'content',
        'row',
    ]
%}
<div{{ attributes.addClass(classes) }} id="coordination-level" data-title="{{ content.field_what_we_do_heading.0['#context'].value }}">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass(contentClasses) }}>
      <div class="col-6">
        <h2>{{ content.field_what_we_do_heading.0['#context'].value }} </h2>
        {{content.body}}
      </div>
      <div class="col-6">
        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="what-we-do-image" class="what-we-do-image" />
      </div>
    </div>
  {% endblock %}
</div>