{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'global-initiatives-section'
  ]
%}
{%
    set contentClasses = [
        'content'
    ]
%}
<div class="gbv-coordination">
  <div class="row nomargin">
    <div class="col-sm-8 offset-md-2 nopadding coordination-field">
      <div{{ attributes.addClass(classes) }} id="coordination-field" data-title="{{ label }}">
        {{ title_prefix }}
        {% if label %}
          <h2{{ title_attributes }} class="underline-h2-tag">{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        <div class="container">
          <div class="row">
            {% block content %}
              <div class="col-sm-6 content-left">
                {{content.body}}
              </div>
              {% set fields = content.field_coordination_fields['#items'] %}
              <div class="col-sm-6 coordination-field-bullets">
                {% for field in fields %}
                  <div class="row coordination-row">
                    <div class="coordination-index">
                      <span class="index">{{loop.index}}</span>
                    </div>
                    <div class= "col-10 title-wrapper">
                      <h4 class="title"> 
                        {{field.value}}
                      </h4>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


