{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div {{ attributes.addClass(classes) }} id="community-of-practice" data-title="{{ label }}">
    <div class="community">
        <div class="container col-sm-8 offset-md-2">
            <div class="row community-practise">
                {{ title_prefix }}
                {% if label %}
                    <h2{{ title_attributes }} class="underline-h2-tag">{{ label }}</h2>
                {% endif %}
                {{ title_suffix }}
                <div class="col-12">
                    <div class="row community-col">
                    <div>
                        {% set alt_text = content.field_media_image[0]['#media'].thumbnail[0].alt %}
                        {% set image_url = media_file_url(content.field_media_image[0]['#media'].mid[0].value) %}
                        <img class="community-img" src="{{image_url}}" alt="{{alt_text}}">
                        <h3>{{content.field_sub_heading}}</h3>
                        {{content.body}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="community-contact row">
        <div class="container col-sm-8 offset-md-2">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3>Contact the Community of Practice</h3>
                    {{content.field_contact_the_community_of_p}}
                </div>
                {# <hr> #}
                <div class="col-sm-6 community-help">
                    {{content.field_extra_links}}
                </div>
            </div>
        </div>
    </div>
</div>


