{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-4">
    <div class="team-single">
      {% set image_url = media_file_url(entity.field_coor_team_image[0].target_id) %}
      {% if image_url == '/' or image_url is null %}
        {% set image_url = '/themes/custom/gbv/images/team.png' %}
      {% endif %}
      <img src="{{image_url}}" class="team-image"/>
        <div class="team-content-wrapper">
            <h3 class="team-title">{{entity.title[0].value}}</h3>
            <h4 class="user-name">{{entity.field_coor_team_position[0].value}}</h4>
            <h5 class="team-email"><a href="mailto:{{entity.field_coor_team_email[0].value}}">{{entity.field_coor_team_email[0].value}}</a></h5>
        </div>
    </div>
    </div>
{% endfor %}
