{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-4 new-reports">
      <div class="new-report-single">
        {% set image_url = media_file_url(entity.field_report_image[0].target_id) %}
        <img src="{{image_url}}" class="report-image img-responsive"/>
        <div class="new-report-inner">
            <h4 class="title">{{entity.title[0].value}}</h4>
            <p class="date">{{entity.created[0].value|date('M d, Y')}}</p>
            <span class="body">
                <p>
                    {% set text = entity.field_report_body[0].value|raw|render|striptags %}
                    {% autoescape false %}{{ text|length > 150 ? text|slice(0, 150) ~ '...' : text }}{% endautoescape %}
                </p>
            </span>
          {% set newsLink = path('entity.node.canonical', {'node': entity.nid.value}) %}
          <div class="col-12 footer-wrap row">
          <a href="{{ newsLink }}" class="button-outline-violet">
            <span>READ MORE</span>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
