{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="resource-type-wrapper">
    {% if title %}
    <div class="col-sm-12 nopadding">
        <h4>{{ title }}</h4>
    </div>
    <hr>
    {% endif %}
    <div class="row">
    {% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {% set text = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] |render|striptags %}
    <div class="col-12 col-md-6 rectangle">
        <div class="rectangle-content row">
            <div class="col-sm-8"><h4>{{entity.title[0].value}}</h4></div>
            <div class="col-sm-4"><p class="date">{{entity.created[0].value|date('M d, Y')}}</p></div>
            <div class="col-sm-12"><p class="description">{{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}</p></div>
            
            <div class="col-sm-12 row">
                {% set tr_resource_type = entity.field_resource_type[0].value %}
                {% if tr_resource_type=='Document' %}
                    <div class="col-10">
                        {% set tr_document_ext = media_file_type(entity.field_resource_document[0].target_id) %}
                        {% set tr_document_url = media_file_url(entity.field_resource_document[0].target_id, 'field_media_file') %}
                        <a href="{{tr_document_url}}" download>
                            <button class="button-outline-violet">Download</button>
                        </a>
                    </div>
                    <div class="col-2 pdf">
                        <p>{{tr_document_ext}}</p>
                    </div>
                {% elseif tr_resource_type=='Link' %}
                    {% set tr_resource_url = entity.field_resource_url[0].uri %}
                    {% set tr_resource_button_title = entity.field_resource_url[0].title %}
                    <div class="col-10">
                        <a href="{{tr_resource_url}}" target="_blank">
                            <button class="button-outline-violet">{{tr_resource_button_title}} <i style="font-size:16px" class="fa fa-external-link"></i></button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<script>
    var activeText = document.querySelectorAll('.dropdown-item.active a')[0].innerText;
    document.getElementsByClassName('menu-item--expanded')[0].getElementsByClassName('nav-link')[0].innerHTML= activeText;
    var checkboxes = document.querySelectorAll("input[type='checkbox']");
    for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', (event) => {
            var checked = event.target.checked;
            var nodeLists = event.target.parentNode.parentNode.lastChild.childNodes;
            for(var i=0, n=nodeLists.length;i<n;i++) {
                nodeLists[i].getElementsByTagName('input')[0].checked = checked;
            }
        });
    }
    
</script>