{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{%
  set classes = [
    'col-sm-12',
    'search',
  ]
%}


<div {{ attributes.addClass(classes) }}>
  <div class="container search-container">
    <div class="col-sm-12 search-row row">
      <h2><div class="ptsans-bold">Search Results</div><div class="ptsans-regular"> for </div><div class="ptsans-italic" id="search-term"> “”</div></h2>
    </div>
    <div class="col-sm-11 row offset-md-1">
        {% for row in rows %}
          {% set object = row.content['#row']._object %}
          {% set type = object.get('type').getValue()[0].target_id %}
          {% set main_title = object.get('title').getValue()[0].value %}
          {%
            set row_classes = [
              default_row_class ? 'views-row',
            ]
          %}
          <div{{ row.attributes.addClass(row_classes) }}>
            {% if type=='gbv_documents' %}
              {% set document_body = object.get('field_document_body').getValue()[0].value %}
              {% set document_file = media_file_url(object.get('field_document_file').getValue()[0].target_id, 'field_media_file') %}
              {% set created_date = object.get('created').getValue()[0].value %}
              {% set document_body_text = document_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description">
                    <h4>{{main_title}}</h4>
                    <p class='created-date'>{{created_date|date('d M, Y')}}</p>
                    <p class='search-desc'>{% autoescape false %}{{ document_body_text|length > 1000 ? document_body_text|slice(0, 1000) ~ '...' : document_body_text }}{% endautoescape %}</p>
                  </div>
                  <div class="col-sm-12">
                    <div class="row search-footer">
                      <div class="col-4">
                        <a class="download-link" href="{{document_file}}" download>
                          <button class="button-outline-violet">Download</button>
                        </a>
                      </div>
                      <div class="col-3 offset-md-5 search-documents">
                          <p>DOCUMENTS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% elseif type=='gbv_events' %}
              {% set event_body = object.get('field_event_body').getValue()[0].value %}
              {% set event_start_date = object.get('field_event_date').getValue()[0].value %}
              {% set event_end_date = object.get('field_event_date').getValue()[0].end_value %}
              {% set event_url = object.get('field_event_url').getValue()[0].uri %}
              {% set event_url_title = object.get('field_event_url').getValue()[0].title %}
              {% set created_date = object.get('created').getValue()[0].value %}
              {% set event_body_text = event_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description row">
                    <div class="search-date event-date-wrapper">
                      {% if event_start_date|date('d') == event_end_date|date('d') %}
                          <span class="event-date">{{event_end_date|date('d')}} </span>
                          <span class="event-month">{{event_start_date|date('M')}}</span>
                      {% elseif event_start_date|date('M') == event_end_date|date('M') %}
                          <span class="event-date">{{event_start_date|date('d')}} - {{event_end_date|date('d')}} </span>
                          <span class="event-month">{{event_start_date|date('M')}}</span>
                      {% else %}
                          <span class="event-date">{{event_start_date|date('d M')}} - {{event_end_date|date('d M')}} </span>
                      {% endif %}
                    </div>
                    <div class="col-sm-10">
                      <h4>{{main_title}}</h4>
                      <p>{% autoescape false %}{{ event_body_text|length > 1000 ? event_body_text|slice(0, 1000) ~ '...' : event_body_text }}{% endautoescape %}</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row search-footer">
                      <div class="col-4">
                        {% if event_url %}
                          {% if event_url == 'internal:/' %}
                            {% set event_url = '/' %}
                          {% endif %}
                          <a class="download-link" href="{{event_url}}" target="_blank">
                            <button class="button-outline-violet">{{event_url_title}}  <i style="font-size:16px" class="fa fa-external-link"></i></button>
                          </a>
                        {% endif %}
                      </div>
                      <div class="col-3 offset-md-5 search-documents">
                        <p>EVENT</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% elseif type=='tools_and_resources' %}
              {% set tr_document_url = media_file_url(object.get('field_resource_document').getValue()[0].target_id, 'field_media_file') %}
              {% set tr_thematic = object.get('field_tools_resources_for_themat').getValue()[0].value %}
              {% set tr_media_url = object.get('field_media_url').getValue()[0].uri %}
              {% set tr_media_url_text = object.get('field_media_url').getValue()[0].title %}
              {% set tr_thematic_sec = object.get('field_thematic_resource_type_sec').getValue()[0].value %}
              {% set tr_section = object.get('field_section').getValue()[0].target_id %}
              {% set tr_type = object.get('field_tools_resources_type').getValue()[0].value %}
              {% set tr_im_cat = object.get('field_im_tools_resources_categor').getValue()[0].value %}
              {% set tr_co_cat = object.get('field_co_ordination_tools_resour').getValue()[0].value %}
              {% set tr_resource_type = object.get('field_resource_type').getValue()[0].value %}
              {% set tr_body = object.get('body').getValue()[0].value %}
              {% set tr_url = object.get('field_resource_url').getValue()[0].uri %}
              {% set tr_button_title = object.get('field_resource_url').getValue()[0].title %}
              {% set tr_body = tr_body|striptags %}
              <div class="col-sm-12 rectangle">
                  <div class="rectangle-content row">
                    <div class="col-sm-12 search-description">
                      <h4>{{main_title}}</h4>
                      <p class='created-date'>{{created_date|date('d M, Y')}}</p>
                      <p>{% autoescape false %}{{ tr_body|length > 1000 ? tr_body|slice(0, 1000) ~ '...' : tr_body }}{% endautoescape %}</p>
                    </div>
                    <div class="col-sm-12">
                      <div class="row search-footer">
                        <div class="col-sm-4">
                            {% if tr_section=='27' %}
                              <a class="download-link" href="{{tr_media_url}}" target="_blank">
                                <button class="button-outline-violet">{{tr_media_url_text}}  <i style="font-size:16px" class="fa fa-external-link"></i></button>
                              </a>
                            {% else %}
                              {% if tr_resource_type=='Link' %}
                                <a class="download-link" href="{{tr_url}}" target="_blank">
                                  <button class="button-outline-violet">{{tr_button_title}}  <i style="font-size:16px" class="fa fa-external-link"></i></button>
                                </a>
                              {% elseif tr_resource_type=='Document' %}
                                <a class="download-link" href="{{tr_document_url}}" download>
                                  <button class="button-outline-violet">Download</button>
                                </a>
                              {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-3 offset-md-5 search-documents">
                            <p>TOOLS & RESOURCES</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% elseif type=='gbv_reports' %}
              {% set report_body = object.get('field_report_body').getValue()[0].value %}
              {% set report_image =  media_file_url(object.get('field_report_image').getValue()[0].target_id) %}
              {% set report_date = object.get('field_report_date').getValue()[0].value %}
              {% set report_link = object.get('field_report_link').getValue()[0].uri %}
              {% set report_link_text = object.get('field_report_link').getValue()[0].title %}
              {% set report_attatchment_type = object.get('field_attatchment_type').getValue()[0].value %}
              {% set report_document = media_file_url(object.get('field_report_document').getValue()[0].target_id, 'field_media_file') %}
              {% set report_body_text = report_body|striptags %}
                  <div class="col-sm-12 rectangle">
                    <div class="rectangle-content row">
                      <div class="col-sm-12 search-description">
                        <h4>{{main_title}}</h4>
                        <p class='created-date'>{{created_date|date('d M, Y')}}</p>
                        <p>{% autoescape false %}{{ report_body_text|length > 1000 ? report_body_text|slice(0, 1000) ~ '...' : report_body_text }}{% endautoescape %}</p>
                      </div>
                      <div class="col-sm-12">
                        <div class="row search-footer">
                          <div class="col-sm-4">
                            {% if report_attatchment_type=='Link' %}
                              <a class="download-link" href="{{report_link}}" target="_blank">
                                <button class="button-outline-violet">{{report_link_text}}  <i style="font-size:16px" class="fa fa-external-link"></i></button>
                              </a>
                            {% elseif report_attatchment_type=='Document' %}
                              <a class="download-link" href="{{report_document}}" download>
                                <button class="button-outline-violet">Download</button>
                              </a>
                            {% endif %}
                          </div>
                          <div class="col-3 offset-md-5 search-documents">
                              <p>REPORT</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            {% elseif type=='gbv_help_desk' %}
              {% set help_body = object.get('field_help_desk_body').getValue()[0].value %}
              {% set help_body = help_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description">
                    <h4>{{main_title}}</h4>
                    <p>{% autoescape false %}{{ help_body|length > 1000 ? help_body|slice(0, 1000) ~ '...' : help_body }}{% endautoescape %}</p>
                  </div>
                  <div class="col-sm-12">
                    <div class="row search-footer">
                      <div class="col-sm-4"><p>{{created_date|date('d M, Y')}}</p></div>
                      <div class="col-3 offset-md-5 search-documents">
                          <p>HELP DESK</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% elseif type=='key_resources' %}
              {% set key_resources_body = object.get('field_key_resources_description').getValue()[0].value %}
              {% set key_resources_image =  media_file_url(object.get('field_key_resources_image').getValue()[0].target_id) %}
              {% set key_resources_link = object.get('field_key_resources_link').getValue()[0].uri %}
              {% set key_resources_link_text = object.get('field_key_resources_link').getValue()[0].title %}
              {% set key_resources_attatchment_type = object.get('field_attatchment_type').getValue()[0].value %}
              {% set key_resources_document = media_file_url(object.get('field_key_resources_document').getValue()[0].target_id, 'field_media_file') %}
              {% set key_resources_body = key_resources_body|striptags %}
                  <div class="col-sm-12 rectangle">
                    <div class="rectangle-content row">
                      <div class="col-sm-12 search-description">
                        <h4>{{main_title}}</h4>
                        <p class='created-date'>{{created_date|date('d M, Y')}}</p>
                        <p>{% autoescape false %}{{ key_resources_body|length > 1000 ? key_resources_body|slice(0, 1000) ~ '...' : key_resources_body }}{% endautoescape %}</p>
                      </div>
                      <div class="col-sm-12">
                        <div class="row search-footer">
                          <div class="col-sm-4">
                            {% if key_resources_attatchment_type=='Link' %}
                              <a class="download-link" href="{{key_resources_link}}" target="_blank">
                                <button class="button-outline-violet">{{key_resources_link_text}}  <i style="font-size:16px" class="fa fa-external-link"></i></button>
                              </a>
                            {% elseif key_resources_attatchment_type=='Document' %}
                              <a class="download-link" href="{{key_resources_document}}" download>
                                <button class="button-outline-violet">Download</button>
                              </a>
                            {% endif %}
                          </div>
                          <div class="col-3 offset-md-5 search-documents">
                              <p>KEY RESOURCES</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
</div>

<script>
  function loadTerm() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var term = url.searchParams.get("search_api_fulltext");
    document.getElementById('search-term').innerHTML = '“'+term+'”';
  }
  loadTerm();
</script>
