{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{%
  set classes = [
    'col-sm-12',
    'search',
  ]
%}


<div {{ attributes.addClass(classes) }}>
  <div class="container search-container">
    <div class="col-sm-12 search-row row">
      <h2><div class="ptsans-bold">Search Results</div><div class="ptsans-regular"> for </div><div class="ptsans-italic" id="search-term"> “”</div></h2>
    </div>
    <div class="col-sm-11 row offset-md-1">
        {% for row in rows %}
          {% set object = row.content['#row']._object %}
          {% set type = object.get('type').getValue()[0].target_id %}
          {% set main_title = object.get('title').getValue()[0].value %}
          {%
            set row_classes = [
              default_row_class ? 'views-row',
            ]
          %}
          <div{{ row.attributes.addClass(row_classes) }}>
            {% if type=='gbv_documents' %}
              {% set document_body = object.get('field_document_body').getValue()[0].value %}
              {% set document_file = object.get('field_document_file').entity.uri.value %}
              {% set created_date = object.get('created').getValue()[0].value %}
              {% set document_body_text = document_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description">
                    <h4>{{main_title}}</h4>
                    <p>{{ document_body_text|length > 100 ? document_body_text|slice(0, 100) ~ '...' : document_body_text }}</p>
                  </div>
                  <div class="col-sm-12 row">
                    <div class="col-sm-4"><p>{{created_date|date('d M, Y')}}</p></div>
                    <div class="col-sm-2 offset-md-6 search-documents">
                        <p>DOCUMENTS</p>
                    </div>
                  </div>
                </div>
              </div>
            {% elseif type=='gbv_events' %}
              {% set event_body = object.get('field_event_body').getValue()[0].value %}
              {% set event_start_date = object.get('field_event_date').getValue()[0].value %}
              {% set event_end_date = object.get('field_event_date').getValue()[0].end_value %}
              {% set created_date = object.get('created').getValue()[0].value %}
              {% set event_body_text = event_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description row">
                    <div class="search-date event-date-wrapper">
                      {% if event_start_date|date('d') == event_end_date|date('d') %}
                          <span class="event-date">{{event_end_date|date('d')}} </span>
                          <span class="event-month">{{event_start_date|date('M')}}</span>
                      {% elseif event_start_date|date('M') == event_end_date|date('M') %}
                          <span class="event-date">{{event_start_date|date('d')}} - {{event_end_date|date('d')}} </span>
                          <span class="event-month">{{event_start_date|date('M')}}</span>
                      {% else %}
                          <span class="event-date">{{event_start_date|date('d M')}} - {{event_end_date|date('d M')}} </span>
                      {% endif %}
                    </div>
                    <div class="col-sm-10">
                      <h4>{{main_title}}</h4>
                      <p>{{ event_body_text|length > 100 ? event_body_text|slice(0, 100) ~ '...' : event_body_text }}</p>
                    </div>
                  </div>
                  <div class="col-sm-12 row">
                    <div class="col-sm-4"><p>{{created_date|date('d M, Y')}}</p></div>
                    <div class="col-sm-2 offset-md-6 search-documents">
                      <p>EVENT</p>
                    </div>
                  </div>
                </div>
              </div>
            
            {% elseif type=='tools_and_resources' %}
              {% set tr_document = object.get('field_resource_document').entity.uri.value %}
              {% set tr_thematic = object.get('field_tools_resources_for_themat').getValue()[0].value %}
              {% set tr_video = object.get('field_video').getValue()[0].value %}
              {% set tr_thematic_sec = object.get('field_thematic_resource_type_sec').getValue()[0].value %}
              {% set tr_section = object.get('field_section').getValue()[0].value %}
              {% set tr_type = object.get('field_tools_resources_type').getValue()[0].value %}
              {% set tr_im_cat = object.get('field_im_tools_resources_categor').getValue()[0].value %}
              {% set tr_co_cat = object.get('field_co_ordination_tools_resour').getValue()[0].value %}
              {% set tr_body = object.get('body').getValue()[0].value %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description">
                    <h4>{{main_title}}</h4>
                    {# <p>{{ report_body_text|length > 100 ? report_body_text|slice(0, 100) ~ '...' : report_body_text }}</p> #}
                  </div>
                  <div class="col-sm-12 row">
                    <div class="col-sm-4"><p>{{created_date|date('d M, Y')}}</p></div>
                    <div class="col-sm-2 offset-md-6 search-documents">
                        <p>TOOLS & RESOURCES</p>
                    </div>
                  </div>
                </div>
              </div>
            {% elseif type=='gbv_reports' %}
              {% set report_body = object.get('field_report_body').getValue()[0].value %}
              {% set report_image = object.get('field_report_image').entity.uri.value %}
              {% set report_date = object.get('field_report_date').getValue()[0].value %}
              {% set report_body_text = report_body|striptags %}
              <div class="col-sm-12 rectangle">
                <div class="rectangle-content row">
                  <div class="col-sm-12 search-description">
                    <h4>{{main_title}}</h4>
                    <p>{{ report_body_text|length > 100 ? report_body_text|slice(0, 100) ~ '...' : report_body_text }}</p>
                  </div>
                  <div class="col-sm-12 row">
                    <div class="col-sm-4"><p>{{created_date|date('d M, Y')}}</p></div>
                    <div class="col-sm-2 offset-md-6 search-documents">
                        <p>REPORT</p>
                    </div>
                  </div>
                </div>
              </div>

            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
</div>

<script>
  function loadTerm() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var term = url.searchParams.get("search_api_fulltext");
    console.log('term');
    console.log(term);
    document.getElementById('search-term').innerHTML = '“'+term+'”';
  }
  loadTerm();
</script>