{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{%
  set classes = [
    'col-sm-12',
  ]
%}


<div {{ attributes.addClass(classes) }}>
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {% set entity = row.content['#row']._entity %}
      {%
        set row_classes = [default_row_class ? 'views-row',]
      %}
      <div class="col-12 col-md-6 desk-single">
        <h3>{{entity.name.value}}</h3>
        {{entity.description.value | raw}}
      </div>
    </div>
  {% endfor %}
</div>
<div class="view-footer">
  {{ drupal_view('help_desk_slider') }}
  <div class="container">
    <h4>Checkout our helpdesk resources page to view all the resources</h4>
    <a href="/help-desk" class="btn btn-primary">HELPDESK RESOURCES</a>
  </div>
</div>
