{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="report-event-block">
    <div class="row nomargin">
        <div class="col-sm-4 upcoming-events nopadding">
            <div class="events">
                <h2>UPCOMING EVENTS</h2>
                {% if event is defined and event is not null %}
                    <a href={{event.field_event_url[0].value.uri}} target="_blank" class="plain-anchor">
                        <div class="event-single">
                            <div class="event-date-wrapper">
                                {% if event.field_event_date[0].value|date('d') == event.field_event_date[0].end_value|date('d') %}
                                    <span class="event-date">{{event.field_event_date[0].end_value|date('d')}} </span>
                                    <span class="event-month">{{event.field_event_date[0].value|date('M')}}</span>
                                {% elseif event.field_event_date[0].value|date('M') == event.field_event_date[0].end_value|date('M') %}
                                    <span class="event-date">{{event.field_event_date[0].value|date('d')}}-{{event.field_event_date[0].end_value|date('d')}} </span>
                                    <span class="event-month">{{event.field_event_date[0].value|date('M')}}</span>
                                {% else %}
                                    <span class="event-date">{{event.field_event_date[0].value|date('d M')}}-{{event.field_event_date[0].end_value|date('d M')}} </span>
                                {% endif %}
                            </div>
                            <p class="event-title">{{event.title[0].value}}</p>
                            <span class="event-desc">{{event.field_event_body[0].value|raw}}</span>
                        </div>
                    </a>
                {% else %}
                    <div class="event-single">
                        <p>No upcoming events</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-8 nopadding">
            <div class="reports">
                <div class="row report-header">
                    <h2>
                      NEW REPORTS AND EVENTS
                    </h2>
                    <a href="/reports-events" class='see-all'>SEE ALL</a>
                </div>
                <div class=" row report-content" id="swipe-report">
                    {% for report in reports %}
                        {% set attatchment_type = report.field_attatchment_type[0].value %}
                        <div class="col-12 col-md-4 news-report">
                            <button class="change-btns"><i class="fa" onclick="plusNews(-1)">&#xf104;</i></button>
                                {% if attatchment_type=='Link' %}
                                    <a href="{{ report.field_report_link[0].uri }}" target="_blank" class="plain-anchor">
                                        <div class="news-single">
                                            <h3 class="news-title">{{report.title[0].value}}</h3>
                                            {% set text = report.field_report_body[0].value |render|striptags %}
                                            <span class="news-body">{{ text|length > 180 ? text|slice(0, 180) ~ '...' : text }}</span>
                                            <span class="news-created-date">{{report.created[0].value|date('M d, Y')}}</span>
                                        </div>
                                    </a>
                                {% elseif attatchment_type=='Document' %}
                                    {% set document_url = media_file_url(report.field_report_document[0].target_id, 'field_media_file') %}
                                    {% set document_ext = media_file_type(report.field_report_document[0].target_id) %}
                                    <a href="{{document_url}}" download class="plain-anchor">
                                        <div class="news-single">
                                            <h3 class="news-title">{{report.title[0].value}}</h3>
                                            {% set text = report.field_report_body[0].value |render|striptags %}
                                            <span class="news-body">{{ text|length > 180 ? text|slice(0, 180) ~ '...' : text }}</span>
                                            <span class="news-created-date">{{report.created[0].value|date('M d, Y')}}</span>
                                        </div>
                                    </a>
                                {% endif %}
                            <button class="change-btns"><i class="fa" onclick="plusNews(+1)">&#xf105;</i></button>
                        </div>
                    {% endfor %}
                </div>
                <a href="/reports-events" class='see-all see-all-mobile'>SEE ALL</a>
                    <div class="col-1dot5 nopadding">
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script>
var slideIndex = 1;
if(window.innerWidth<480){
    showNews(slideIndex);
}

function plusNews(n) {
    showNews(slideIndex += n);
}

function showNews(n) {
    var i;
    var changebtns = document.getElementsByClassName("news-report");
    if (n > changebtns.length) {slideIndex = 1}
    if (n < 1) {slideIndex = changebtns.length} ;
    for (i = 0; i < changebtns.length; i++) {
        changebtns[i].style.display = "none";
    }
    changebtns[slideIndex-1].style.display = "flex";
    console.log(slideIndex);
}

var reportEl = document.getElementById('swipe-report');

// create a simple instance
// by default, it only adds horizontal recognizers
var mc = new Hammer(reportEl);

if(window.innerWidth<480){
    mc.on("swipeleft swiperight", function(ev) {
        switch(ev.type){
            case 'swipeleft':
                plusNews(+1);
                break;
            case 'swiperight':
                plusNews(-1);
                break;
            default:
                break;
        }
    });
}
</script>
