{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="report-event-block">
    <div class="row nomargin">
        <div class="col-sm-4 upcoming-events nopadding">
            <div class="events">
                <h2>UPCOMING EVENTS</h2>
                {% if event is defined and event is not null %}
                    <div class="event-single">
                        <div class="event-date-wrapper">
                            {% if event.field_event_date[0].value|date('d') == event.field_event_date[0].end_value|date('d') %}
                                <span class="event-date">{{event.field_event_date[0].end_value|date('d')}} </span>
                                <span class="event-month">{{event.field_event_date[0].value|date('M')}}</span>
                            {% elseif event.field_event_date[0].value|date('M') == event.field_event_date[0].end_value|date('M') %}
                                <span class="event-date">{{event.field_event_date[0].value|date('d')}} - {{event.field_event_date[0].end_value|date('d')}} </span>
                                <span class="event-month">{{event.field_event_date[0].value|date('M')}}</span>
                            {% else %}
                                <span class="event-date">{{event.field_event_date[0].value|date('d M')}} - {{event.field_event_date[0].end_value|date('d M')}} </span>
                            {% endif %}
                        </div>
                        <p class="event-title">{{event.title[0].value}}</p>
                        <span class="event-desc">{{event.field_event_body[0].value|raw}}</span>
                    </div>
                {% else %}
                    <div class="event-single">
                        <p>No upcoming events</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-8 nopadding">
            <div class="reports">
                <h2>NEWS & EVENTS</h2>
                <div class="row">
                    <div class="col-1dot5 nopadding">
                    </div>
                    {% for report in reports %}
                        <div class="col-12 col-md-3 news-report">
                            <button class="change-btns"><i class="fa" onclick="plusNews(-1)">&#xf104;</i></button>
                            <div class="news-single">
                                <h3 class="news-title">{{report.title[0].value}}</h3>
                                {% set text = report.field_report_body[0].value |render|striptags %}
                                <span class="news-body">{{ text|length > 80 ? text|slice(0, 80) ~ '...' : text }}</span>
                                <span class="news-created-date">{{report.created[0].value|date('M d, Y')}}</span>
                            </div>
                            <button class="change-btns"><i class="fa" onclick="plusNews(+1)">&#xf105;</i></button>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-1dot5 nopadding">
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
var slideIndex = 1;
if(window.innerWidth<480){
showNews(slideIndex);
}

function plusNews(n) {
showNews(slideIndex += n);
}

function showNews(n) {
var i;
var changebtns = document.getElementsByClassName("news-report");
if (n > changebtns.length) {slideIndex = 1}
if (n < 1) {slideIndex = changebtns.length} ;
for (i = 0; i < changebtns.length; i++) {
    changebtns[i].style.display = "none";
}
changebtns[slideIndex-1].style.display = "flex";
}

</script>