{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'global-architecture-section',
  ]
%}
{%
    set contentClasses = [
        'content'
    ]
%}
<div{{ attributes.addClass(classes) }} id="gpc-architecture" data-title="{{label}}">
  <div class="col-12 col-md-10 offset-md-1 gpc-architect">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      <div{{ content_attributes.addClass(contentClasses) }}>
          <div class="container">
              {{content.body}}
          </div>
          {% set alt_text = content.field_image_media[0]['#media'].thumbnail[0].alt %}
          {% set image_url = media_file_url(content.field_image_media[0]['#media'].mid[0].value) %}
          <img src="{{image_url}}" alt={{alt_text}} />
      </div>
    {% endblock %}
  </div>
</div>


