{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'global-architecture-section',
  ]
%}
{%
    set contentClasses = [
        'content'
    ]
%}
<div{{ attributes.addClass(classes) }} id="gpc-architecture" data-title="{{label}}">
  <div class="col-12 col-md-10 gpc-architect">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }} class="underline-h2-tag">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      <div{{ content_attributes.addClass(contentClasses) }}>
        <div class="container">
            {{content.body}}
        </div>
        {% set alt_text = content.field_image_media[0]['#media'].thumbnail[0].alt %}
        {% set image_url = media_file_url(content.field_image_media[0]['#media'].mid[0].value) %}
        <svg xmlns="http://www.w3.org/2000/svg" width="963" height="317" viewBox="0 0 963 317" id="svg-big" style="width:100%">
          <defs>
            <style>
              .cls-1 {
                fill: #63337c;
              }

              .cls-2, .cls-4 {
                fill: #fff;
              }

              .cls-2 {
                font-size: 18px;
                font-family: OpenSans-SemiBold, Open Sans;
                font-weight: 600;
              }

              .cls-3 {
                fill: #9e86c1;
              }

              .cls-4 {
                font-size: 16px;
                font-family: OpenSans-Regular, Open Sans;
              }

              .cls-5 {
                fill: #9e87c1;
              }

              .cls-6 {
                fill: #9f88c1;
              }

              .cls-7 {
                fill: none;
                stroke: #575656;
                stroke-width: 1.2px;
                stroke-dasharray: 2 6;
              }
            </style>
          </defs>
          <g id="Group_13" data-name="Group 13" transform="translate(-476 -201)">
            <g id="Group_10" data-name="Group 10">
              <a target="_blank" href="http://www.globalprotectioncluster.org/">
                <g id="Group_5" data-name="Group 5" transform="translate(-3)">
                  <rect id="Rectangle_1" data-name="Rectangle 1" class="cls-1" width="216" height="107" transform="translate(853 201)"/>
                  <text id="Global_Protection_Cluster_UNHCR_" data-name="Global Protection
          Cluster (UNHCR)" class="cls-2" transform="translate(961 250)"><tspan x="-75.568" y="0">Global Protection</tspan><tspan x="-70.897" y="24">Cluster (UNHCR)</tspan></text>
                </g>
              </a>
              <a target="_blank" href="http://gbvaor.net/">
                <g id="Group_1" data-name="Group 1">
                  <rect id="Rectangle_2" data-name="Rectangle 2" class="cls-3" width="216" height="107" transform="translate(476 411)"/>
                  <text id="Gender_Based_Violence_Area_Responsibility_UNFPA_" data-name="Gender Based Violence
          Area Responsibility
          (UNFPA)" class="cls-4" transform="translate(584 451)"><tspan x="-86.211" y="0">Gender Based Violence</tspan><tspan x="-70.906" y="20">Area Responsibility</tspan><tspan x="-30.598" y="40">(UNFPA)</tspan></text>
                </g>
              </a>
              <a target="_blank" href="http://cpaor.net">
                <g id="Group_6" data-name="Group 6">
                  <g id="Group_2" data-name="Group 2" transform="translate(249)">
                    <rect id="Rectangle_2-2" data-name="Rectangle 2" class="cls-5" width="216" height="107" transform="translate(476 411)"/>
                  </g>
                  <text id="Child_Protection_Area_of_Responsibility_UNICEF_" data-name="Child Protection
          Area of Responsibility
          (UNICEF)" class="cls-4" transform="translate(833 451)"><tspan x="-59.609" y="0">Child Protection</tspan><tspan x="-80.527" y="20">Area of Responsibility</tspan><tspan x="-32.445" y="40">(UNICEF)</tspan></text>
                </g>
              </a>
              <a target="_blank" href="https://www.nrc.no/">
                <g id="Group_7" data-name="Group 7">
                  <g id="Group_3" data-name="Group 3" transform="translate(498)">
                    <rect id="Rectangle_2-3" data-name="Rectangle 2" class="cls-6" width="216" height="107" transform="translate(476 411)"/>
                  </g>
                  <text id="Housing_land_and_property_NRC_" data-name="Housing, land and
          property
          (NRC)" class="cls-4" transform="translate(1082 451)"><tspan x="-67.441" y="0">Housing, land and</tspan><tspan x="-32.512" y="20">property</tspan><tspan x="-20.758" y="40">(NRC)</tspan></text>
                </g>
              </a>
              <a target="_blank" href="https://www.mineaction.org/en">
                <g id="Group_8" data-name="Group 8">
                  <g id="Group_4" data-name="Group 4" transform="translate(747)">
                    <rect id="Rectangle_2-4" data-name="Rectangle 2" class="cls-5" width="216" height="107" transform="translate(476 411)"/>
                  </g>
                  <text id="Mine_Actions_UNMAS_" data-name="Mine Actions
          (UNMAS)" class="cls-4" transform="translate(1331 461)"><tspan x="-48" y="0">Mine Actions</tspan><tspan x="-33.266" y="20">(UNMAS)</tspan></text>
                </g>
              </a>
              <g id="Group_9" data-name="Group 9">
                <path id="Path_1" data-name="Path 1" class="cls-7" d="M958,308v54.935"/>
                <path id="Path_2" data-name="Path 2" class="cls-7" d="M584,411V361.893h744.5"/>
                <path id="Path_3" data-name="Path 3" class="cls-7" d="M833,413.181V365.6" transform="translate(249.5 -4)"/>
                <path id="Path_5" data-name="Path 5" class="cls-7" d="M833,413.181V365.6" transform="translate(0.5 -4)"/>
                <path id="Path_4" data-name="Path 4" class="cls-7" d="M833,421.181V366.6" transform="translate(498.5 -10)"/>
              </g>
            </g>
          </g>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="347.623" height="409.119" viewBox="0 0 347.623 409.119" id="svg-small">
          <g id="Group_17" data-name="Group 17" transform="translate(-14 -120)">
            <g id="Group_16" data-name="Group 16">
              <g id="Group_15" data-name="Group 15" transform="translate(4)">
                <a target="_blank" href="http://www.globalprotectioncluster.org/">
                  <g id="Group_14" data-name="Group 14" transform="translate(-84 194.812)">
                    <g id="Group_5" data-name="Group 5" transform="translate(94 79)">
                      <rect id="Rectangle_1" data-name="Rectangle 1" width="149" height="78.112" fill="#63337c"/>
                      <text id="Global_Protection_Cluster_UNHCR_" data-name="Global Protection
          Cluster (UNHCR)" transform="translate(74.519 35.395)" fill="#fff" font-size="13" font-family="OpenSans-SemiBold, Open Sans" font-weight="600"><tspan x="-54.577" y="0">Global Protection</tspan><tspan x="-51.203" y="18">Cluster (UNHCR)</tspan></text>
                    </g>
                  </g>
                </a>
                <a target="_blank" href="http://gbvaor.net/">
                  <g id="Group_11" data-name="Group 11" transform="translate(208 120)">
                    <g id="Group_1" data-name="Group 1" transform="translate(0)">
                      <rect id="Rectangle_2" data-name="Rectangle 2" width="149.623" height="74.119" fill="#9e86c1"/>
                      <text id="Gender_Based_Violence_Area_Responsibility_UNFPA_" data-name="Gender Based Violence
          Area Responsibility
          (UNFPA)" transform="translate(75 27)" fill="#fff" font-size="12" font-family="OpenSans-Regular, Open Sans"><tspan x="-64.658" y="0">Gender Based Violence</tspan><tspan x="-53.18" y="15">Area Responsibility</tspan><tspan x="-22.948" y="30">(UNFPA)</tspan></text>
                    </g>
                  </g>
                </a>
                <a target="_blank" href="http://cpaor.net">
                  <g id="Group_6" data-name="Group 6" transform="translate(208.071 232.177)">
                    <g id="Group_2" data-name="Group 2" transform="translate(-0.071 -0.177)">
                      <rect id="Rectangle_2-2" data-name="Rectangle 2" width="149.623" height="74.119" fill="#9e87c1"/>
                    </g>
                    <text id="Child_Protection_Area_of_Responsibility_UNICEF_" data-name="Child Protection
          Area of Responsibility
          (UNICEF)" transform="translate(74.929 25.823)" fill="#fff" font-size="12" font-family="OpenSans-Regular, Open Sans"><tspan x="-44.707" y="0">Child Protection</tspan><tspan x="-60.396" y="16">Area of Responsibility</tspan><tspan x="-24.334" y="32">(UNICEF)</tspan></text>
                  </g>
                </a>
                <a target="_blank" href="https://www.nrc.no/">
                  <g id="Group_7" data-name="Group 7" transform="translate(208.467 342.663)">
                    <g id="Group_3" data-name="Group 3" transform="translate(-0.467 0.337)">
                      <rect id="Rectangle_2-3" data-name="Rectangle 2" width="149.623" height="74.119" fill="#9f88c1"/>
                    </g>
                    <text id="Housing_land_and_property_NRC_" data-name="Housing, land and
          property
          (NRC)" transform="translate(74.533 26.337)" fill="#fff" font-size="12" font-family="OpenSans-Regular, Open Sans"><tspan x="-50.581" y="0">Housing, land and</tspan><tspan x="-24.384" y="16">property</tspan><tspan x="-15.568" y="32">(NRC)</tspan></text>
                  </g>
                </a>
                <a target="_blank" href="https://www.mineaction.org/en">
                  <g id="Group_8" data-name="Group 8" transform="translate(208.071 454.84)">
                    <g id="Group_4" data-name="Group 4" transform="translate(-0.071 0.16)">
                      <rect id="Rectangle_2-4" data-name="Rectangle 2" width="149.623" height="74.119" fill="#9e87c1"/>
                    </g>
                    <text id="Mine_Actions_UNMAS_" data-name="Mine Actions
          (UNMAS)" transform="translate(74.929 34.16)" fill="#fff" font-size="12" font-family="OpenSans-Regular, Open Sans"><tspan x="-36" y="0">Mine Actions</tspan><tspan x="-24.949" y="16">(UNMAS)</tspan></text>
                  </g>
                </a>
                <g id="Group_9" data-name="Group 9" transform="translate(-101.659 1075.578) rotate(-90)">
                  <path id="Path_2" data-name="Path 2" d="M584,386.229V361.893H915.519" transform="translate(0 -77.617)" fill="none" stroke="#575656" stroke-width="1.2" stroke-dasharray="2 6"/>
                  <path id="Path_3" data-name="Path 3" d="M833,389.409V365.6" transform="translate(-25.913 -80.56)" fill="none" stroke="#575656" stroke-width="1.2" stroke-dasharray="2 6"/>
                  <path id="Path_5" data-name="Path 5" d="M833,389.409V365.6" transform="translate(-137.345 -80.56)" fill="none" stroke="#575656" stroke-width="1.2" stroke-dasharray="2 6"/>
                  <path id="Path_4" data-name="Path 4" d="M833,393.409V366.6" transform="translate(85.519 -85.06)" fill="none" stroke="#575656" stroke-width="1.2" stroke-dasharray="2 6"/>
                </g>
                <path id="Path_6" data-name="Path 6" d="M2156,312.868h18.258" transform="translate(-1994)" fill="none" stroke="#575656" stroke-width="1.2" stroke-dasharray="2 6"/>
              </g>
            </g>
          </g>
        </svg>
      </div>
    {% endblock %}
  </div>
</div>

