{# where we work #}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
    set contentClasses = [
        'content'
    ]
%}

<div class="global-work-container" {{ attributes.addClass(classes) }}>
  <div class="global-work-wrapper">
    {{ title_prefix }}
    {% if label %}
      <h2 class="global-work-title" {{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      <div{{ content_attributes.addClass(contentClasses) }}>
        <div class="footer-contact global-work-desc">
          {{ content }}
        </div>
      </div>
    {% endblock %}
</div>

