{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div{{ content_attributes.addClass('partner-inner-block') }}>
    <div class="donor-tab">
      <a href="javascript:void(0)" onclick="togglePartner('core')" class="tab-text active" id="core-text"> Core Members</a>
      <span class="divider"> </span>
      <a href="javascript:void(0)" class="tab-text" onclick="togglePartner('donor')" id="donor-text"> Donors </a>
    </div>
    <div class="row partner-items-wrapper col-md-8 offset-md-2">
      {% for row in rows %}
          {% set entity = row.content['#row']._entity %}
          {%
              set row_classes = [
              default_row_class ? 'views-row',
              ]
          %}
          <div class="partner-single type-{{entity.field_donor_type[0].value}}">
            {% set image_url = media_file_url(entity.field_donor_image[0].target_id) %}
            <a target="_blank" href="{{entity.field_donor_url[0].uri}}"> <img src="{{image_url}}" alt="donor-image"/> </a>
          </div>
      {% endfor %}
    </div>
</div>
<script>
  function togglePartner(showType){
    if (document.querySelector('.donor-tab a.active') !== null) {
      document.querySelector('.donor-tab a.active').classList.remove('active');
      document.getElementById((showType==='core')?'core-text':'donor-text').className += " active";
    }
    let hideType = (showType==='core')?'donor':'core';
    let showPartners = document.getElementsByClassName("type-"+showType);
    let hidePartners = document.getElementsByClassName("type-"+hideType);
    [].forEach.call(showPartners, function(partner) {
      partner.style.display = "flex";
    });
    [].forEach.call(hidePartners, function(partner) {
      partner.style.display = "none";
    });
  }
  togglePartner('core');
</script>
