{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-3 document-col">
      <button class="change-btns"><i class="fa" onclick="plusDocs(-1)">&#xf104;</i></button>
        <div class="document">
            <div class="document-header">
                <img src="{{directory}}/images/icons/icon-doc.png" class="events-image" />
            </div>
            <div class="document-body">
            <h4 class="document-title">{{entity.title[0].value}}</h4>
            {% set text = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_document_body }}'] |render|striptags %}
                {{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}
                {% set document_url = media_file_url(entity.field_document_file[0].target_id, 'field_media_file') %}
                <a class="download-link" href="{{document_url}}" download>
                  <button class="button-outline-violet">Download</button>
                </a>
            </div>
        </div>
      <button class="change-btns"><i class="fa" onclick="plusDocs(+1)">&#xf105;</i></button>
    </div>
    
    
{% endfor %}
</div>
<script>
var slideIndex = 1;
if(window.innerWidth<=480){
  showDocs(slideIndex);
}

function plusDocs(n) {
  showDocs(slideIndex += n);
}

function showDocs(n) {
  var i;
  var changebtns = document.getElementsByClassName("document-col");
  if (n > changebtns.length) {slideIndex = 1}
  if (n < 1) {slideIndex = changebtns.length} ;
  for (i = 0; i < changebtns.length; i++) {
    changebtns[i].style.display = "none";
  }
  changebtns[slideIndex-1].style.display = "flex";
}
</script>