{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-6">
        <div class="vacancy-single">
            <div class="row">
                <div class="col-sm-4 vacancy-image">
                <h3 class="organization">{{entity.field_vacancy_organization[0].value}}</h3>
                </div>
                <div class="col-sm-8">
                <h4 class="title">{{entity.field_vacancy_job_title[0].value}}</h4>
                <span class="body">
                    <p>
                        {% set text = entity.field_vacancy_body[0].value|raw|striptags %}
                        {{ text|length > 30 ? text|slice(0, 30) ~ '...' : text }}
                    </p>
                </span>
                </div>
            </div>
            <div class="vacancy-footer">
                <div class="row vacancy">
                    <div class="col-12 col-md-8">
                        <p>Deadline to apply: {{entity.field_vacancy_deadline[0].value}}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="" class="more-btn">Read more <i style="font-size:16px" class="fa">&#xf061;</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
