{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    {% set image_url = media_file_url(entity.field_vacancy_image[0].target_id) %}
    <div class="col-sm-6 vacancy-wrapper">
        <div class="vacancy-single">
            <div class="row">
                <div class="col-sm-4 vacancy-image">
                    {# <h3 class="organization">{{entity.field_vacancy_organization[0].value}}</h3> #}
                    <img src="{{image_url}}" alt="vacancy"/>
                </div>
                <div class="col-sm-8">
                    <h4 class="title">{{entity.field_vacancy_job_title[0].value}}</h4>
                    <span class="body">
                        <p>
                            {% set text = entity.field_vacancy_body[0].value|raw|striptags %}
                            {% autoescape false %}{{ text|length > 60 ? text|slice(0, 80) ~ '...' : text }}{% endautoescape %}
                        </p>
                    </span>
                </div>
            </div>
            <div class="vacancy-footer">
                <div class="row vacancy">
                    <div class="col-12 col-md-7 vacancy-date">
                        <p>Deadline to apply: {{entity.field_vacancy_deadline[0].value}}</p>
                    </div>
                    {% set attatchment_type = entity.field_attatchment_type[0].value %}
                    {% if attatchment_type=='Link' %}
                        <div class="col-12 col-md-5 nopadding vacancy-read">
                            <a href="{{ entity.field_vacancy_url[0].uri }}" target="_blank" class="more-btn">{{ entity.field_vacancy_url[0].title }} <i style="font-size:16px; margin-left: 4px;" class="fa fa-external-link"></i></a>
                        </div>
                    {% elseif attatchment_type=='Document' %}
                        {% set document_url = media_file_url(entity.field_vacancy_document[0].target_id, 'field_media_file') %}
                        {% set document_ext = media_file_type(entity.field_vacancy_document[0].target_id) %}
                        <div class="col-12 col-md-5 nopadding vacancy-read">
                            <div class="nopadding">
                            <a class="download-link" href="{{document_url}}" download>
                                <button class="button-outline-violet">DOWNLOAD</button>
                            </a>
                            </div>
                            {# <div class="pdf">
                            <p>{{document_ext}}</p>
                            </div> #}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
