{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-4 new-reports">
      <div class="new-report-single">
        {% set image_url = media_file_url(entity.field_report_image[0].target_id) %}
        <img src="{{image_url}}" class="report-image img-responsive"/>
        <div class="new-report-inner">
          <h4 class="title">{{entity.title[0].value}}</h4>
          <p class="date">{{entity.created[0].value|date('M d, Y')}}</p>
          <span class="body">
              <p>
                  {% set text = entity.field_report_body[0].value|raw|render|striptags %}
                  {{ text|length > 150 ? text|slice(0, 150) ~ '...' : text }}
              </p>
          </span>
          {% set attatchment_type = entity.field_attatchment_type[0].value %}
          {% if attatchment_type=='Link' %}
            <div class="col-12 footer-wrap row">
              <a href="{{ entity.field_report_link[0].uri }}" target="_blank">
                  <button class="button-outline-violet">{{ entity.field_report_link[0].title }}<i style="font-size:16px; margin-left: 4px;" class="fa fa-external-link"></i></button>
              </a>
            </div>
          {% elseif attatchment_type=='Document' %}
            {% set document_url = media_file_url(entity.field_report_document[0].target_id, 'field_media_file') %}
            {% set document_ext = media_file_type(entity.field_report_document[0].target_id) %}
            <div class="col-12 footer-wrap row">
              <div class="col-8 nopadding">
                <a class="download-link" href="{{document_url}}" download>
                    <button class="button-outline-violet">DOWNLOAD</button>
                </a>
              </div>
              <div class="pdf">
                <p>{{document_ext}}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endfor %}
