{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-sm-4 new-reports">
        <div class="new-report-single">
            <img src="{{file_url(entity.field_report_image.entity.uri.value)}}" class="report-image img-responsive"/>
            <div class="new-report-inner">
                <h4 class="title">{{entity.title[0].value}}</h4>
                <span class="body"><p>
                {% set text = entity.field_report_body[0].value|raw|render|striptags %}
                {{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}
                </p></span>
                <p class="date">{{entity.field_report_date[0].value}}</p>
            </div>
        </div>
    </div>
{% endfor %}
