    {#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% set count = 0 %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    {% set count = count + 1 %}
    {% if count == 1 %}
    <div class="col-lg-12 global-initiatives-content">
            <h4 class="title">{{entity.title[0].value}}</h4>
            <p>{{entity.field_global_initiatives_body[0].value|raw}}</p>
            {% if entity.field_global_initiatives_image.entity.uri.value %}
                <img src="{{file_url(entity.field_global_initiatives_image.entity.uri.value)}}" class="global-initiatives-image img-responsive"/>
            {% endif %}
        </div>
    {% elseif count < 4 %}
        <div class="col-sm-6 global-initiatives-content">
            <h4 class="sub-title">{{entity.title[0].value}}</h4>
            <p>{{entity.field_global_initiatives_body[0].value|raw}}</p>
            {% if entity.field_global_initiatives_image.entity.uri.value %}
                <img src="{{file_url(entity.field_global_initiatives_image.entity.uri.value)}}" class="global-initiatives-image img-responsive"/>
            {% endif %}
        </div>
    {% else %}
        <div class="col-lg-12 global-initiatives-content">
            <h4 class="title">{{entity.title[0].value}}</h4>
            <p>{{entity.field_global_initiatives_body[0].value|raw}}</p>
            {% if entity.field_global_initiatives_image.entity.uri.value %}
                <img src="{{file_url(entity.field_global_initiatives_image.entity.uri.value)}}" class="global-initiatives-image img-responsive"/>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
