{% if content.view_build['#rows'] is not empty %}
{% set classes = [
  'block',
  'regional-countries',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div class="regional-country-container">
  <div class="regional-country-wrapper" {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2 class="regional-country-title" {{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
{% endif %}
