{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-6">
        <div class="vacancy-single">
            <h3 class="organization">{{entity.field_vacancy_organization[0].value}}</h3>
            <h4 class="title">{{entity.field_vacancy_job_title[0].value}}</h4>
            <span class="body">{{entity.body[0].value|raw}}</span>
            <h5 class="deadline">Deadline to apply: {{entity.field_vacancy_deadline[0].value}}</h5>
            <a href="" class="more-btn">Read more </a>
        </div>
    </div>
{% endfor %}
