{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set entity = row.content['#row']._entity %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
        ]
    %}
    <div class="col-4">
        <div class="team-single">
            <img src="{{file_url(entity.field_image.entity.uri.value)}}" class="team-image"/>
            <div class="team-content-wrapper">
                <h3 class="team-region">{{entity.field_short_description[0].value}}</h3>
                <h4 class="team-title">{{entity.title[0].value}} </h4>
                <h5 class="team-email">{{entity.field_email[0].value}}</h5>
            </div>
        </div>
    </div>
{% endfor %}
