{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
    set contentClasses = [
        'content'
    ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass(contentClasses) }}>
        <div class="hero-banner">
            <div class="row nomargin">
                <div class="col-12 nopadding">
                  {% set alt_text = content.field_image_media[0]['#media'].thumbnail[0].alt %}
                  {% set image_url = media_file_url(content.field_image_media[0]['#media'].mid[0].value) %}
                  <div class="hero-image-bg" title="{{alt_text}}" style="background-image: url('{{image_url}}')">
                    <div class="col-sm-6 hero-content">
                      <h2 class="hero-title">
                        {{content.body}}
                      </h2>
                      <a href="{{ content.field_button[0]['#url'] }}">
                        <button class="button-outline">{{ content.field_button[0]['#title'] }}</button>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
</div>


