
{%
  set classes = [
    'block',
    'partner-block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content partner-inner-block') }}>
        <div class="donor-tab"><a href="#" class="tab-text"> Core Members and Observers </a> <span class="divider"> </span> <a href="#" class="tab-text"> Donors </a></div>
     {{ content }}
    </div>
  {% endblock %}
</div>

