{% if content.view_build['#rows'] is not empty %}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div class="global-key-figures-container" {{ attributes.addClass(classes) }} id="global-key-figures">
  {{ title_prefix }}
  {% if label %}
    <h2 class="global-key-figure-title" {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="key-figure-wrapper">
    {% block content %}
      {{ content }}
    {% endblock %}
    {%set key_resources_taxonomy = load_tax_term(content['#view'].result[0].taxonomy_term_field_data_taxonomy_term__parent_tid) %}
    <div class="global-key-figures-disclaimer">Disclaimer: {{ key_resources_taxonomy.field_key_figures_disclaimer.value }}</div>
    <div class="global-key-figures-last-updated">Last Updated: {{ key_resources_taxonomy.field_last_updated.value }}</div>
  </div>
</div>
{% endif %}
