{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'offset-md-2 col-sm-8',
  ]
%}
{%
    set contentClasses = [
        'content',
    ]
%}
<div{{ attributes.addClass(classes) }} id="featured-item" data-title="Featured News">
    <div class="container featured-report-event">
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }} class="underline-h2-tag">{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{content.body}}
            {% set item = get_node(content.field_featured_item['#items'][0].target_id) %}
            {% set item_type = item.type.value[0].target_id %}
            <div class="item-wrapper col-12">
                <div class="rectangle">
                    <div class="rectangle-content">
                        {% if item_type == 'gbv_events' %}
                            
                                <h4>{{item.title[0].value}}</h4>
                                {{item.field_event_body[0].value|raw}}
                                <div class="events-footer">
                                    <div class="col-12 col-md-4 date nopadding">{{item.created[0].value|date('F d, Y')}}</div>
                                    <div class="col-12 col-md-3 offset-md-5 nopadding download">
                                        <a href="{{ item.field_event_url[0].uri }}" target="_blank">
                                            <button class="button-outline-violet">{{ item.field_event_url[0].title }}<i style="font-size:16px" class="fa fa-external-link"></i></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        <div>
                            <h4>{{item.title[0].value}}</h4>
                            {{item.field_document_body[0].value|raw}}
                            <div class="events-footer">
                                <div class="col-12 col-md-4 date nopadding">{{item.created[0].value|date('F d, Y')}}</div>
                                {% set document_url = media_file_url(item.field_report_document[0].target_id, 'field_media_file') %}
                                <div class="col-12 col-md-3 offset-md-5 nopadding download">
                                    <a href="{{document_url}}" download>
                                        <button class="button-outline-violet">Download</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>